.all{

  position: absolute;
  top: 800px;
  background-color: rgb(44, 46, 48);
  width: 100%;


}
.ssss
{    margin-bottom: 0px;!important
}

@media screen and (max-width: 500px) {
  .ssss {
    margin-bottom: 900px;!important
  }
}










.pp{

    font-size: 14px;
  width: 100%;
  }
  
  .span{
  
    color: rgb(57, 159, 210);
  }

  .card-bkk{

    background-color: transparent;
    border: none !important;

  }
  
  .zzz{
    border-radius:0 ;
    animation: ttt ;
    animation-fill-mode: both;
    animation-timeline: view(block) !important;
    animation-range:cover 0% cover 100% !important;
    view-timeline-inset: 30%;
  }
  
    @keyframes ttt{  
      0%{
        opacity: 0; scale: 0.5;
      }
      30%{
        opacity:1 ; scale:1 ;
      }
      70%{
        opacity:1 ; scale:1 ;
      }
      100%{
        opacity: 0; scale: 0.5;
      }
    }