


.ee{
    position: relative;
    overflow: hidden;
    opacity: 1;
    width: 100%;
    height: 100%;
}


.ee:hover  .ppp{
    opacity: 0.8;
        transform: translateY(-100%);
        cursor: pointer;
        


}



.ppp{
    background-color: rgb(31, 141, 220);
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    transition-duration: 1000ms;
    opacity: 0;
}


.zzz{
  animation: ttt ;
  animation-fill-mode: both;
  animation-timeline: view(block) ;
  animation-range:cover 0% cover 100% !important;
  view-timeline-inset: 30%;
}

  @keyframes ttt{  
    0%{
      opacity: 0; scale: 0.5;
    }
    30%{
      opacity:1 ; scale:1 ;
    }
    70%{
      opacity:1 ; scale:1 ;
    }
    100%{
      opacity: 0; scale: 0.5;
    }
  }
