.bk {
  background-color: rgb(44, 46, 48);
  width: 100%;
}

.img {
  position: fixed;
}

span {
  color: rgb(57, 159, 210);
  font-weight: bold;
}

.zzz {
  animation: ttt;
  animation-fill-mode: both;
  animation-timeline: view(block) !important;
  animation-range: cover 0% cover 100% !important;
  view-timeline-inset: 30%;
}

@keyframes ttt {
  0% {
    opacity: 0;
    scale: 0.5;
  }
  30% {
    opacity: 1;
    scale: 1;
  }
  70% {
    opacity: 1;
    scale: 1;
  }
  100% {
    opacity: 0;
    scale: 0.5;
  }
}
